// Default variable overrides
$body-bg: #4f6ab3;
$body-color: white;
$primary: #fff157;
$dark: #e6d94e;
$secondary: #4296ac;
$light: #fff7a3;

$tablet: 768px;

.logo {
  width: 50px;
  height: auto;
}

#loginStatus {
  padding-left: 16px;
}

.wrapperMain {
  margin-top: 100px;
  display: flex;
}

aside {
  width: 15%;
}

main {
  width: 70%;
}

textarea {
  resize: none !important;
}

.form-group {
  margin-bottom: 0.5rem;
}

.postFunctionHome {
  padding-bottom: 38px;
}

#examplePosts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-items: flex-start;
  justify-content: center;
}

h1,
h2 {
  flex: 100%;
  text-align: center;
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

.card {
  margin: 0 1rem;
  min-width: 175px !important;
}

button:active,
a:active:not(.navbar-brand) {
  position: relative;
  top: 1px;
}

.like:active {
  background-color: green;
}

.dislike:active {
  background-color: red;
}

.logButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logButtons a {
  margin-top: 1rem;

  margin-bottom: 1rem;
}

.profileMain {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.sidePanel,
.otherSidePanel {
  width: 20%;
  margin: 0 auto;
  min-width: fit-content;
  padding-bottom: 1rem;
}

#bio {
  margin: 1rem;
}

.pfp {
  display: flex;
  margin: 1rem auto;
}

.contacts {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  h3 {
    width: 100%;
  }

  img {
    flex: 0 0 26%;
  }
}

.postFunctionProfile {
  width: 80%;
  margin: 3rem auto;
  min-width: fit-content;
}

.line-break {
  width: 100%;
}

.statsProfile {
  margin-top: 3rem;
}

@media screen and (min-width: $tablet) {
  .profileMain {
    flex-direction: row;
  }
  .sidePanel,
  .otherSidePanel {
    min-width: 165px;
  }

  .postFunctionProfile {
    width: 30%;
  }

  .form-signin,
  .postFunctionHome {
    margin: 0 auto;
    width: 40vw;
    min-width: 450px;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";
