// Default variable overrides
$body-bg: rgb(185, 241, 178);
$body-color: #34a;
$primary: rgb(23, 0, 128);
$secondary: green;
$success: lightgreen;

.logo {
  width: 50px;
  height: auto;
}

#loginStatus {
  padding-left: 16px;
}

.wrapperMain {
  margin-top: 100px;
  display: flex;
}

aside {
  width: 15%;
}

main {
  width: 70%;
}

input {
  background-color: $primary;
}

textarea {
  resize: none !important;
}

#examplePosts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-items: flex-start;
  justify-content: center;
}

h2 {
  flex: 100%;
  text-align: center;
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

.card {
  margin: 0 1rem;
  min-width: 175px !important;
}

button:active,
a:active:not(.navbar-brand) {
  position: relative;
  top: 1px;
}

.like:active {
  background-color: green;
}

.dislike:active {
  background-color: red;
}

.logButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logButtons a {
    margin-top: 1rem;

  margin-bottom: 1rem;
}

@import "../node_modules/bootstrap/scss/bootstrap";
